.el-container,
.el-menu {
  height: 100%;
  border-right: none !important;
  overflow: hidden;
}

body .el-button + .el-button {
  margin-left: 10px;
}

body .el-button + .button-group {
  margin-left: 10px;
}
.el-table {
  flex-grow: 1;
}
.el-table .el-button + .el-button {
  margin-left: 5px;
}

.el-table .el-button + .button-group {
  margin-left: 5px;
}

.el-menu--vertical:not(.el-menu--collapse):not(.el-menu--popup-container) .el-sub-menu .el-menu-item {
  padding-left: calc(
    var(--el-menu-base-level-padding) + var(--el-menu-level) * var(--el-menu-level-padding) + 10px
  ) !important;
}
.el-menu .el-sub-menu__title {
  padding-right: var(--el-menu-base-level-padding) !important;
}

.el-menu-item.is-active {
  background-color: var(--el-menu-hover-bg-color);
}

.menu-name {
  margin-left: 5px;
}

.el-header {
  text-align: center;
  background-image: linear-gradient(to right, #3e66c9, #153991);
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.el-main {
  text-align: center;
  // box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin: var(--page-padding);
  // background-color: #fff;
}

.el-footer {
  text-align: center;
  background-color: #fff;
}

.el-sub-menu.is-active .el-sub-menu__title {
  .el-icon {
    color: var(--el-menu-active-color);
  }
}

.custom-notice.el-message-box {
  --el-messagebox-padding-primary: 25px;
  padding-bottom: 20px;
  .el-message-box__content {
    padding-left: calc(var(--el-messagebox-padding-primary) + 38px);
    padding-right: var(--el-messagebox-padding-primary);
  }
  .el-message-box__title {
    justify-content: flex-start;
    .el-icon {
      margin-right: 15px;
      height: 28px;
    }
  }
  .el-message-box__message p {
    text-align: left;
  }
  .el-message-box__btns {
    justify-content: flex-end;
    padding-left: var(--el-messagebox-padding-primary);
    padding-right: var(--el-messagebox-padding-primary);
  }
}

.ecnu-dialog {
  .el-dialog__header {
    padding: calc(var(--el-dialog-padding-primary) - 10px) var(--el-dialog-padding-primary);
    padding-bottom: 17px;
    text-align: left;
  }

  .el-dialog__body {
    max-height: 55vh;
    overflow-y: overlay;
    padding: 0 var(--el-dialog-padding-primary) calc(var(--el-dialog-padding-primary) - 35px);
    text-align: left;
  }
  .el-dialog__headerbtn {
    top: calc(var(--el-dialog-padding-primary) - 10px);
    right: calc(var(--el-dialog-padding-primary) - 30px);
    font-size: 20px;
  }
}

.rules-modal {
  .el-dialog__body {
      max-height: 100vh !important;
  }
}


.common-table-row .el-table__cell {
  font-weight: 500;
}

.common-table-header-cell {
  font-weight: 400 !important;
}

.el-table.el-table--default {
  font-size: var(--el-font-size-base);
}

.el-table--default .common-table-cell .cell {
  line-height: 40px;
  .el-checkbox {
    --el-checkbox-input-width: 20px;
    --el-checkbox-input-height: 20px;
  }
  .el-button + .el-button {
    margin-left: 5px;
  }
  .el-checkbox__inner::after {
    height: 9px;
    left: 6px;
    top: 2px;
    width: 4px;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 8px;
  }
}

.page-group {
  .el-checkbox {
    --el-checkbox-input-width: 20px;
    --el-checkbox-input-height: 20px;
  }
  .el-checkbox__inner::after {
    height: 9px;
    left: 6px;
    top: 2px;
    width: 4px;
  }
  .el-checkbox.el-checkbox--large .el-checkbox__inner {
    width: 20px;
    height: 20px;
  }
  .el-checkbox__input.is-indeterminate .el-checkbox__inner::before {
    top: 8px;
  }
}

.el-tag.el-tag--info {
  --el-tag-text-color: var(--el-text-color-regular) !important;
}

.success-button-dropdown .el-button,
.info-button-dropdown .el-button {
  outline: none !important;
}
.success-button-dropdown {
  --split-line-color: #fff;
  --icon-color: #fff;
}

.info-button-dropdown {
  --split-line-color: #889199;
  --icon-color: var(--el-text-color-regular);
}

.info-button-dropdown .el-dropdown__icon {
  color: var(--icon-color);
}

.info-button-dropdown.el-dropdown .el-dropdown__caret-button.el-button::before,
.success-button-dropdown.el-dropdown .el-dropdown__caret-button.el-button::before {
  background: var(--split-line-color);
  opacity: 0.7;
  top: 5px;
  bottom: 5px;
}

.el-button-group {
  display: flex !important;
}
.el-button-group > .el-button + .el-button {
  margin-left: 0 !important;
}

.el-tabs .el-tabs__item.is-active {
  font-weight: bold;
  color: var(--el-text-color-primary);
}

.el-tabs__item {
  color: var(--el-text-color-main);
}

.el-tabs .el-tabs__active-bar {
  height: 5px;
  background-color: var(--el-text-color-primary);
}
.el-button.el-button--info {
  --el-color-white: var(--el-text-color-regular);
}
.tabs {
  display: flex;
  flex-grow: 1;
  height: 1px;
  flex-direction: column;
  margin: 0 -34px;
  .page-search {
    padding-top: 15px;
  }
  .el-tabs__header {
    margin: 0 34px;
  }

  .el-tabs__content,
  .el-tab-pane {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .el-tabs__content {
    overflow-y: auto;
    .page-content {
      overflow: hidden;
    }
  }
  .el-tab-pane {
    margin: 0 34px;
  }
}

.paging-content.el-pagination {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
  .el-select .el-select__wrapper {
    font-size: var(--el-pagination-font-size);
  }
}

.el-dialog__footer {
  .el-button {
    width: 100%;
    height: 40px;
  }
}

.page-content {
  background-color: var(--el-color-white);
  padding: var(--page-padding);
  display: flex;
  flex-direction: column;
  min-height: 500px;
  box-sizing: border-box;
  flex-grow: 1;
  // min-height: 200px;
}

.file-tag {
  max-width: 100%;
  .el-tag__content {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--el-table-text-color);
  }
}

.el-input-number .el-input__inner {
  text-align: left !important;
}

.noBorderInput {
  --el-disabled-bg-color: #fff;
  --el-disabled-text-color: var(--el-text-color-regular);
}

.reset_as_menu.el-menu {
  height: 21px;
  border-bottom: none;
  background-color: transparent !important;
  width: unset;
  .el-icon {
    color: #9bb7ff !important;
    width: unset !important;
    margin-top: 15px;
  }
  .el-sub-menu__title {
    background-color: transparent !important;
    border-bottom: none !important;
    color: #d3e0ec !important;
  }
  .el-sub-menu {
    background-color: transparent !important;
  }
  .el-sub-menu__title.el-tooltip__trigger {
    padding-right: 0 !important;
  }
}

.out_menu_sub.el-menu.reset_as_menu {
  margin-top: 8px;
  .el-sub-menu__title.el-tooltip__trigger {
    color: #8b9197 !important;
    font-size: 12px;
    padding-left: 0 !important;
    padding-right: calc(var(--el-menu-icon-width) + 3px) !important;
    .el-icon {
      color: #8b9197 !important;
      width: unset !important;
      margin-top: -6px;
      left: auto;
      margin-right: 0 !important;
      right: 0 !important;
      vertical-align: middle;
    }
  }
}

.reset_as_menu_pop {
  border: none;
  --el-menu-bg-color: var(--el-bg-color-overlay);
  .el-menu--popup {
    min-width: 100px;
  }
  .el-menu {
    // --el-menu-text-color: #797979;
    // --el-menu-active-color: #212224;
    border-right: none !important;
    .is-active {
      color: #797979;
    }
    .el-menu-item:not(.is-disabled):hover,
    .el-menu-item:not(.is-disabled):focus {
      background-color: unset;
      color: #212224;
    }
    .el-sub-menu .el-sub-menu__icon-arrow {
      margin-right: 18px;
      right: 0 !important;
      left: unset;
    }
  }
}
/* 折叠面板的样式 开始*/
.el-collapse {
  border-top: 0px;
}
.el-collapse-item__header {
  border-bottom: 0px;
  padding-left: 30px;
}
.el-collapse-item__wrap {
  border-bottom: 0px;
}
.el-collapse-item__header.is-active {
  background-color: #3f599a !important;
}
.el-collapse-item__content {
  padding-bottom: 0px;
}
/* 折叠面板的样式 结束*/
