@mixin pos-top($type: absolute, $size: var(--base-border-size-2)) {
  width: 100%;
  height: $size;
  position: $type;
  top: 0;
  left: 0;
  display: block;
}
@mixin pos-left($type: absolute, $size: var(--base-border-size-2)) {
  width: $size;
  height: 100%;
  position: $type;
  left: 0;
  top: 0;
  display: block;
}
@mixin pos-bottom($type: absolute, $size: var(--base-border-size-2)) {
  width: 100%;
  height: $size;
  position: $type;
  bottom: 0;
  left: 0;
  display: block;
}
@mixin pos-right($type: absolute, $size: var(--base-border-size-2)) {
  width: $size;
  height: 100%;
  position: $type;
  right: 0;
  top: 0;
  display: block;
}

@mixin nav-bar($gap: var(--base-module-gap-1)) {
  display: flex;
  grid-gap: $gap;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin no-select-text {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin text-ellipsis($clamp: 1) {
  display: -webkit-box;
  display: inline-block;
  overflow: hidden;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin flex-align-end {
  display: flex;
  align-items: flex-end;
}

@mixin flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin margin-bottom-gap {
  margin-bottom: 10px;
}

@mixin flex-inherit-size {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
