:root {
  --el-page-padding: 34px;
  --main-color: #3d4348;
  --main-bg-color: #e0e6f8;
  --page-container-min-width: 725px;
  --page-padding: 20px;
  --label-font-size: 16px;
  --label-color: #021C5D;
}
