build
coverage
dist
es
lib
node_modules
yjsyxt-web
yjsyxt-web.*
yjsyxt-web@*
@types
package-lock.json
pnpm-lock.yaml
yarn.lock
public
*.min.js
src/assets/iconfont/*
.eslintrc.cjs
.eslintrc.js
.eslintrc.json
.eslintrc.yaml
.eslintcache
.eslintcache.*
.eslintcache@
vite.config.ts
vitest.config.ts
.env
.env.*
postcss.config.js
src/shims-vue.d.ts
.html

