$primary: #3f599a;
$danger: #ff296a;
$info: #e0e6f8;
$success: #0ca43a;
$warning: #ff9437;

$primary-color: #003fde;
$regular-color: #606f92;
$main-color: #405078;
$form-color: #797979;

$menu-bg-color: var(--el-color-white);
$menu-item-active-color: #003fde;
$menu-text-color: #9faccf;
$menu-hover-text-color: #fff;
$menu-hover-bg-color: rgba(0, 63, 222, 0.2);
$menu-item-height: 55px;

$padding-primary: 60px;

$main-padding: 0;
$header-padding: 0 20px 0 20px;
$main-bg-color: #f5f7f9;

$default-border-color: #e0e6f8;

//table
$table-row-height-default: 40px;
$table-header-background-color: #e0e6f8;
$table-header-font-color: #021c5d;
$table-font-color: #606f92;
$table-font-size: 16px;

// collapse
$collapse-color: #fff;
$collapse-fontSize: 16px;
$collapse-content-bg-color: #3f599a;
$collapse-bg-color: #5d80d5;
$primary: #3f599a;
